<section class="subscribe text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-5">
        <div class="sub-content-container text-right">
          <h1>متابعتنا</h1>
          <p>
            احصل أسبوعيًا على أهم الوظائف الجديدة التي يتم تسليمها إلى بريدك
            الوارد
          </p>
          <form>
            <div style="width: 70%">
              <i class="fa fa-envelope"></i>
              <input type="email" placeholder="البريد الاكتروني" />
            </div>
            <div style="width: 30%">
              <button class="btn">
                متابعه
                <i class="fa fa-angle-double-left"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <img src="../../../assets/subscribe/keep-in-touch.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
