<section class="testimonials">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-add-testimonial></app-add-testimonial>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <app-testimonial-list
          *ngIf="testimonials.length !== 0"
          [testimonials]="testimonials"
        ></app-testimonial-list>
        <div *ngIf="testimonials.length === 0" class="text-center">
          <h6><strong>كن اول من يشارك برأيه</strong></h6>
        </div>
      </div>
    </div>
  </div>
</section>
