a {
  text-decoration: none;
  border: none;
  height: 100px;
  display: block;
  color: black;
  margin-bottom: 25px;
}
img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}
h6 {
  color: #787878;
}
