<section class="lodder">
  <app-loading *ngIf="loading" class="text-center"></app-loading>
</section>
<section class="alert-danger-message">
  <app-alert-danger
    *ngIf="!loading && err"
    [errorMessage]="err"
  ></app-alert-danger>
</section>
<section class="userData">
  <app-profile-data
    *ngIf="!loading && !err"
    [userData]="userData"
  ></app-profile-data>
</section>
<section class="userPosts" *ngIf="userPosts.length > 0">
  <app-posts-list [posts]="userPosts"></app-posts-list>
</section>
<section class="userReviews" *ngIf="userReviews.length > 0">
  <div class="container">
    <h6 class="text-center" style="margin-top: 20px">
      ماذا قالو عنك يا<strong style="color: #328bda">
        {{ userData.userName }}</strong
      >
    </h6>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <app-testimonial-list
          [testimonials]="userReviews"
        ></app-testimonial-list>
      </div>
    </div>
  </div>
</section>
