<section class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <h1>ابحث عن الوظيفة التي تناسب حياتك</h1>
      <p>
        "سيشغل عملك جزءا كبيرا من حياتك والطريقة الوحيدة لتحقيق الرضى الحقيقي هو
        القيام بما تؤمن به انه عمل رائع. وأفضل طريقة لتقوم بعمل رائع هي ان تحب
        ما تقوم به. اذا لم تجد ذلك بعد، فاستمر في البحث. لا تسقط."
      </p>
      <button>المزيد</button>
    </div>
    <div class="banner-search">
      <button routerLink="/search"><i class="fa fa-search"></i> بحث</button>
    </div>
  </div>
</section>
