/*BANNER STYLE CSS ########################################################*/
.banner {
  height: 800px;
  width: 100%;
  background-size: contain;
  overflow: hidden;
  position: relative;
  background: url("../../../assets/banner/b-1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
.banner::before {
  content: "";
  height: 100%;
  width: 440px;
  float: right;
  background: url("../../../assets/banner/b-2.png") no-repeat;
  margin-top: 380px;
}

.banner .banner-content {
  background-color: rgb(17, 17, 17, 30%);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
}
.banner .banner-content .banner-text {
  height: 30%;
  width: 100%;
  margin: auto;
  margin-top: 300px;
}
.banner .banner-content .banner-text > h1 {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 45px;
}

.banner .banner-content .banner-text > p {
  width: 450px;
  margin: 10px auto;
  color: #ffffff;
  padding: 5px;
  line-height: 1.3m;
}

.banner .banner-content .banner-text > button {
  display: inline-block;
  border: none;
  height: 40px;
  width: 80px;
  background-color: var(--mainColor);
  color: #ffffff;
  border-radius: 30px;
  margin: 0px auto;
}
.banner .banner-content .banner-search {
  height: 80px;
  width: 50%;
  margin: 30px auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.banner .banner-content .banner-search form {
  display: block;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .banner .banner-content .banner-search {
    width: 100% !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .banner .banner-content .banner-search {
    width: 60% !important;
  }
}
.banner .banner-content .banner-search form > div {
  height: 50px;
  width: 30%;
  border-radius: 30px;
  float: right;
  margin: 0px 2.5%;
  overflow: hidden;
  position: relative;
}
.banner .banner-content .banner-search form > div i {
  position: absolute;
  right: 15px;
  top: 20px;
  color: var(--mainColor) !important;
  font-size: 14px;
}
.banner .banner-content .banner-search form input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  border: none;
  text-indent: 40px;
}
.banner .banner-content .banner-search form input {
  outline: none;
}
.banner .banner-content .banner-search form button {
  width: 15%;
  height: 40px;
  float: right;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--mainColor);
}
.banner .banner-content .banner-search form button i {
  font-size: 14px;
}
/*BANNER STYLE CSS ########################################################*/
