/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: #328bda;
  /*  --mainColor: #f00;*/
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  direction: rtl !important;
  text-align: right;
  overflow-x: hidden;
}
input.ng-touched.ng-invalid {
  border: 1px solid #f00 !important;
}
input.ng-touched.ng-valid {
  border: 1px solid #008800 !important;
}
button:focus {
  outline: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
